.authentication-status-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 260px;
}
.authentication-status-indicator {
  width: 50px;
  height: 25px;
}
.signup-form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  height: 160px;
}
.login-form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  height: 160px;
}
.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 260px;
}
